.flipcard {
  &__container {
    position: relative;
    padding: 5px;
    margin-bottom: 30px;
    width: 50vh;
    height: 50vh;
    border: 5px solid white;
    &:hover {
      cursor: pointer;
    }
  }
  &__front {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 5px solid white;
  }
  &__picture {
    max-width: 100%;
    height: auto;
    object-fit: cover;
  }
  &__logo {
    padding: 10px;
    height: 50px;
    background-color: white;
    width: 50%;
    position: absolute;
    bottom: 5px;
    left: 0;
    object-fit: contain;
    transform: translateX(50%);
    /* Center the tooltip horizontally */
  }
  &__footer {
    padding-top: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    height: 10%;
    background: white;
  }
  &__back {
    border: 5px solid white;
    background-color: white;
  }
}
